<h2 mat-dialog-title>New Study Center</h2>
<mat-dialog-content>
  <form fxLayout="column">
    <mat-form-field>
      <input type="text" required matInput placeholder="Name" value="{{sc.name}}">
    </mat-form-field>

    <mat-form-field>
      <input matInput  required placeholder="Room" value="{{sc.location.room}}">
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field>
        <input matInput required type="number" placeholder="Capacity" value="{{sc.capacity}}" [formControl]="capacityFormControl">
        <mat-error *ngIf="capacityFormControl.hasError('min') && !capacityFormControl.hasError('required')">
          Please enter a valid capacity. (0+)
        </mat-error>

      </mat-form-field>

      <mat-slide-toggle [checked]="sc.availability">Availability</mat-slide-toggle>
    </div>

    <mat-form-field>
      <textarea matInput required placeholder="Operation hours" value="{{sc.hours}}"></textarea>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button color="primary" [mat-dialog-close]="true">Save</button>
</mat-dialog-actions>